.table-container {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
  padding: 20px;
  box-sizing: border-box;
}

table {
  //width: 500px;
  margin-bottom: 40px;
  .column-actions {
    background-color: red;
    width: 30px;
  }
  .column-version {
    background-color: blue;
    width: 60px;
  }
  .column-status {
    background-color: green;
    width: 100px;
  }
  th {
    text-align: center;
    width: 200px;
    font-weight: bold;
    font-size: 16px;
  }
  td {
    text-align: center;
  }
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  cursor: pointer;
  border-bottom-width: 0px;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
  text-align: left;
}

.example-element-description-attribution {
  opacity: 0.5;
}

//.column-status {
//  display: flex;
//  align-items: center;
//
//  @media only screen and (min-width: 1366px) {
//    background-color: blue;
//    padding-left: 80px;
//  }
//
//  @media only screen and (min-width: 1540px) {
//    background-color: red;
//    padding-left: 140px;
//  }
//
//  mat-icon {
//    margin: 10px;
//  }
//}

mat-paginator {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: -39px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: transparent;
}
