.table-container {
  display: flex;
  flex-direction: column; /* Alinha a tabela e o paginator em coluna */
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
  padding: 20px;
  box-sizing: border-box;
}

table {
  width: 100%;
  margin-bottom: 40px;
  th {
    text-align: center;
    width: 300px;
    font-weight: bold;
    font-size: 16px;
  }
  td {
    text-align: center;
  }
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  cursor: pointer;
  border-bottom-width: 0px;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
  text-align: left;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.column-status {
  display: flex;
  align-items: center;

  @media only screen and (min-width: 1366px) {
    padding-left: 80px;
  }

  @media only screen and (min-width: 1540px) {
    padding-left: 140px;
  }

  mat-icon {
    margin: 10px;
  }
}
