<mat-dialog-content>

    <app-artifacts-project-table></app-artifacts-project-table>
    
    </mat-dialog-content>
    <mat-dialog-actions align="end">

        <button mat-button
                cdkFocusInitial
                (click)="close()">
            Fechar
            <mat-icon>close</mat-icon>
        </button>

        <button mat-button
                (click)="addData()">
            Add artefato
            <mat-icon>edit_document</mat-icon>
        </button>
    
</mat-dialog-actions>
