<!-- tracebility-matrix.component.html -->
<section class="example-container">
  <div><h1>{{ currentProject }}</h1></div>

  <table>
    <tr *ngFor="let row of dataSource; let rowIndex = index">
      <td *ngFor="let cell of row; let colIndex = index"
          [ngStyle]="getCellStyles(cell)" 
          [matTooltip]="cell ? getTooltipText(cell, rowIndex, colIndex) : ''"
          matTooltipPosition="above"
          [ngClass]="{
            'related': isRelated(rowIndex, colIndex),
            'highlight-header': isHeader(rowIndex, colIndex),
            'highlight-specific': isSpecificHighlight(rowIndex, colIndex),
            'pointer-cursor': cell !== null && cell !== '',
            'transparent-cell': rowIndex === 0 && colIndex === 0
          }"
          (click)="toggleHighlight(rowIndex, colIndex)">
        <ng-container *ngIf="cell">
          {{ cell }}
        </ng-container>
      </td>
    </tr>
  </table>

</section>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>

