@use '@angular/material' as mat;
  
  .example-container {
    height: 750px;
    width: 1400px;
    max-width: 100%;
    max-height: 100%;
    margin:  auto;  
    border-radius: 10px;
    padding: 30px;
  }

  .pointer-cursor {
    cursor: pointer;
  }
  
  .related {
    background-color: rgba(0, 128, 0, 0.2) !important; /* Verde claro para células relacionadas */
  }
  
  .highlight-header {
    background-color: rgba(0, 128, 0, 0.4) !important; /* Verde mais escuro para cabeçalhos */
  }
  
  .highlight-specific {
    background-color: green !important; /* Verde para células específicas */
    cursor: pointer;
  } 
  
  .example-container div {
    text-align: center;
  }

  table{
    overflow: auto;
  }

  h1 {
    text-align: center;
  }
  
  td {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    width: 50px;
    height: 30px;
    text-align: center;
  }

  tr {
    border: 2px solid black;
    padding: 5px;
    align-items: center;
    justify-content: center;
  }

  