<mat-toolbar class="title-toolbar">
    <span class="title">Editando o requisito - {{data.identifier}}</span>
</mat-toolbar>

<mat-dialog-content>

    <app-update-requirement-form [inputRequirementDataWithUpdateRequirement]="data"></app-update-requirement-form>

</mat-dialog-content>
<mat-dialog-actions align="end">


    <mat-dialog-actions align="end">
        <button mat-raised-button
                mat-dialog-close
                cdkFocusInitial>
        Cancelar
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-dialog-actions>
    
    <button mat-raised-button
            [disabled]="!buttonDisabled"
            (click)="saveData()">
        Aualizar requisito
        <mat-icon>update</mat-icon>
    </button>

</mat-dialog-actions>
