<mat-dialog-content>

    <app-create-artifact-form [dataRequirementToTableRequirement]="data"></app-create-artifact-form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button
            (click)="downloadFile()"
            [hidden]="buttonDisabled">
        Cancelar
        <mat-icon>edit_document</mat-icon>
    </button>

    <button mat-raised-button
            cdkFocusInitial
            (click)="saveData()"
            [hidden]="buttonDisabled">
        Add artefato
        <mat-icon>add</mat-icon>
    </button>

</mat-dialog-actions>
