.logo {
  font-size: 40px;
  font-weight: bold;
}

.span-spacer {
  flex: 1 1 auto;
}

.person {
  font-size: 48px;
  padding: 20px;
  margin-top: 15px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.icon {
  font-size: 48px;
  height: 48px;
  width: 48px;
}
