<mat-dialog-content>

<app-create-project-tab></app-create-project-tab>

</mat-dialog-content>
<mat-dialog-actions align="end">

    <button mat-raised-button
            *ngIf="!buttonDisabled"
            (click)="getData()">
        Cancelar
        <mat-icon>cancel</mat-icon>
    </button>

    <button mat-raised-button
            *ngIf="!buttonDisabled"
            cdkFocusInitial
            (click)="saveData()">
        Criar projeto
        <mat-icon>add</mat-icon>
    </button>

</mat-dialog-actions>
