<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav mat-elevation-z8" mode="side">

        <div class="container-buttons">
            <button mat-button>
                <mat-icon class="icons">format_list_bulleted_add</mat-icon>
                <span class="description">Criar Projeto</span>
            </button>

            <button mat-button>
                <mat-icon class="icons">checklist</mat-icon>
                <span class="description">Lista de Requisitos</span>
            </button>

            <button mat-button>
                <mat-icon class="icons">folder_open</mat-icon>
                <span class="description">Documentações</span>
            </button>

            <button mat-button>
                <mat-icon class="icons">pending_actions</mat-icon>
                <span class="description">Pendências de Aprovações</span>
            </button>

            <button mat-button>
                <mat-icon class="icons">person_add</mat-icon>
                <span>Cadastrar Membros</span>
            </button>

            <button mat-button>
                <mat-icon class="icons">dataset</mat-icon>
                <span>Matriz de Rastreabilidade</span>
            </button>

            <button mat-button>
                <mat-icon class="icons">settings</mat-icon>
                <span>Configurações</span>
            </button>

            <button mat-button>
                <mat-icon class="icons">logout</mat-icon>
                <span>Sair</span>
            </button>
        </div>

    </mat-drawer>

    <mat-toolbar class="title-toolbar">
        <span class="title">Projetos</span>
    </mat-toolbar>

    <div class="sidenav-content">

        <div class="elements mat-elevation-z8">
            <button mat-button></button>
        </div>

    </div>

</mat-drawer-container>
