<mat-drawer-container class="container" autosize>

    <mat-toolbar class="title-toolbar">
        <span class="title">Projetos</span>
      </mat-toolbar>
      
      <div class="project-tab" *ngIf="this.dataSource.data.length; else viewTableProjects">
        <app-projects-table [dataSource]="dataSource"></app-projects-table>
      </div>

      <ng-template #viewTableProjects>
        <app-no-content></app-no-content>
      </ng-template>

    <mat-drawer #drawer class="sidenav mat-elevation-z8" mode="side">

        <div class="container-buttons">

            <button mat-button routerLink="/home">
                <mat-icon class="icons">home</mat-icon>
                <span class="description">Projetos</span>
            </button>

            <button mat-button [hidden]="isManager()" (click)="openModalDialogComponent('Create project')">
                <mat-icon class="icons">format_list_bulleted_add</mat-icon>
                <span class="description">Criar Projeto</span>
            </button>

            <button mat-button [hidden]="isManager()" (click)="navigateToApprovalFlow()">
                <mat-icon class="icons">pending_actions</mat-icon>
                <span class="description">Pendências de Aprovações</span>
            </button>

            <button mat-button [hidden]="isManager()" (click)="navigateToProjectStatus()">
              <mat-icon class="icons">analytics</mat-icon>
              <span class="description">Status Projetos</span>
            </button>

            <button mat-button [hidden]="isAdmin()" (click)="openModalDialogComponent('Add user')">
                <mat-icon class="icons">person_add</mat-icon>
                <span>Cadastrar Usuários</span>
            </button>

            <button mat-button [hidden]="isAdmin()" (click)="openModalDialogComponent('delete user')">
              <mat-icon class="icons">delete_forever</mat-icon>
              <span>Deletar Usuários</span>
            </button>

            <button mat-button [hidden]="isAdmin()">
                <mat-icon class="icons">settings</mat-icon>
                <span>Configurações</span>
            </button>

            <button mat-button (click)="logout()">
                <mat-icon class="icons">logout</mat-icon>
                <span>Sair</span>
            </button>
        </div>

    </mat-drawer>

</mat-drawer-container>
