@use '@angular/material' as mat;
@import './theme-light-variables';
@import './theme-dark-variables';

@import "quill/dist/quill.core.css";
@import "quill/dist/quill.bubble.css";
@import "quill/dist/quill.snow.css";

@include mat.core();

// LIGHT THEME
@include mat.all-component-themes($app-light-theme);

html, body {
  background-color: mat.get-color-from-palette($app-light-primary, 300);
  color: mat.get-color-from-palette($app-light-primary, 700);
}

span {
  color: mat.get-color-from-palette($app-light-primary, 700);
}

.mat-drawer.sidenav {
  background-color: mat.get-color-from-palette($app-light-primary, 300);
  color: mat.get-color-from-palette($app-light-primary, 700);
  border: none;
}

.sidenav-content {
  background-color: mat.get-color-from-palette($app-light-primary, 100);
  color: mat.get-color-from-palette($app-light-primary, 700);
}

.mat-icon {
  color: mat.get-color-from-palette($app-light-primary, 700);
}

.element-no-content {
  background-color: mat.get-color-from-palette($app-light-primary, 300);
  background-image: url("../assets/light-theme/no-content-project.svg");
}

mat-toolbar.mat-toolbar {
  background-color: mat.get-color-from-palette($app-light-primary, 300);
  color: mat.get-color-from-palette($app-light-primary, 700);
}

mat-toolbar.title-toolbar {
  background-color: mat.get-color-from-palette($app-light-primary, 200);
  color: mat.get-color-from-palette($app-light-primary, 700);
}

table.mat-elevation-z8 {
  background-color: mat.get-color-from-palette($app-light-primary, 200);
  color: mat.get-color-from-palette($app-light-primary, 700);

  th, td {
    color: mat.get-color-from-palette($app-light-primary, 700);
  }
}

//Efeito ao passar o mouse na tabela de requisitos
tr.example-element-row:not(.example-expanded-row):hover {
  background: mat.get-color-from-palette($app-dark-primary, 300);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: mat.get-color-from-palette($app-dark-primary, 200);
}

mat-tab-group {
  color: mat.get-color-from-palette($app-light-primary, 700);
  span {
    color: mat.get-color-from-palette($app-light-primary, 700);
  }
}

.mat-select-for-project {
  color: mat.get-color-from-palette($app-light-warn);
}

// CONFIG RICH TEXT
.ql-snow .ql-picker.ql-header .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-font .ql-picker-label::before {
  color: #616161;
}

.ql-toolbar {
  background-color: #E0E0E0 !important; /* Cor de fundo do toolbar no tema escuro */
  color: #616161 !important;
}

.ql-editor {
  background-color: #F5F5F5 !important; /* Cor de fundo do editor no tema escuro */
  color: #616161 !important; /* Cor do texto no editor no tema escuro */
  font-size: 15px;
}

.ql-editor.ql-blank::before {
  font-size: 15px;
  color: #616161 !important; /* Cor do placeholder no tema escuro */
}

body.light-theme {
  background-color: mat.get-color-from-palette($app-light-primary, 50); // Defina uma cor clara para o tema light
  color: mat.get-color-from-palette($app-light-primary, 900); // Defina a cor do texto
}

body.light-theme ngx-charts text,
body.light-theme ngx-charts g text {
  fill: #000 !important; /* Cor preta para o texto */
}

// DARK THEME
.dark-theme {
  @include mat.all-component-themes($app-dark-theme);

  html, body {
    background-color: mat.get-color-from-palette($app-dark-primary, 800);
    color: mat.get-color-from-palette($app-dark-primary, 300);
  }

  span {
    color: mat.get-color-from-palette($app-dark-primary, 300);
  }

  .mat-drawer.sidenav {
    background-color: mat.get-color-from-palette($app-dark-primary, 900);
    color: mat.get-color-from-palette($app-dark-primary, 300);
    border: none;
  }

  .sidenav-content {
    background-color: mat.get-color-from-palette($app-dark-primary, 700);
    color: mat.get-color-from-palette($app-dark-primary, 300);
  }

  .mat-icon {
    color: mat.get-color-from-palette($app-dark-primary, 300);
  }

  .element-no-content {
    background-color: mat.get-color-from-palette($app-dark-primary, 800);
    background-image: url("../assets/dark-theme/no-content-project.svg");
  }

  mat-toolbar.mat-toolbar {
    background-color: mat.get-color-from-palette($app-dark-primary, 900);
    color: mat.get-color-from-palette($app-dark-primary, 300);
  }

  mat-toolbar.title-toolbar {
    background-color: mat.get-color-from-palette($app-dark-primary, 800);
    color: mat.get-color-from-palette($app-dark-primary, 300);
  }

  table.mat-elevation-z8 {
    background-color: mat.get-color-from-palette($app-dark-primary, 800);
    color: mat.get-color-from-palette($app-dark-primary, 300);

    th, td {
      color: mat.get-color-from-palette($app-dark-primary, 300);
    }
  }

  //Efeito ao passar o mouse na tabela de requisitos
  tr.example-element-row:not(.example-expanded-row):hover {
    background: mat.get-color-from-palette($app-dark-primary, 700);
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: mat.get-color-from-palette($app-dark-primary, 800);
  }

  mat-tab-group {
    color: mat.get-color-from-palette($app-dark-primary, 300);
    span {
      color: mat.get-color-from-palette($app-dark-primary, 300);
    }
  }

  .mat-select-for-project {
    color: mat.get-color-from-palette($app-dark-warn);
  }

  .remove-artifact-button:hover {
    color: mat.get-color-from-palette($app-dark-warn) !important;
  }

  // CONFIG RICH TEXT
  .ql-snow .ql-picker.ql-header .ql-picker-label::before,
  .ql-snow .ql-picker.ql-size .ql-picker-label::before,
  .ql-snow .ql-picker.ql-font .ql-picker-label::before {
    color: #e0e0e0;
  }

  .ql-toolbar {
    background-color: #757575 !important; /* Cor de fundo do toolbar no tema escuro */
    color: #616161 !important;
  }

  .ql-editor {
    background-color: #4a4a4a !important; /* Cor de fundo do editor no tema escuro */
    color: #e0e0e0 !important; /* Cor do texto no editor no tema escuro */
    font-size: 15px;
  }

  .ql-editor.ql-blank::before {
    font-size: 15px;
    color: #e0e0e0 !important; /* Cor do placeholder no tema escuro */
  }

}

// Para o tema escuro
body.dark-theme {
  background-color: mat.get-color-from-palette($app-dark-primary, 800); // Defina uma cor mais escura para o tema dark
  color: mat.get-color-from-palette($app-dark-primary, 100); // Defina a cor do texto
}

/* Estilos para os textos dos gráficos no tema escuro */
body.dark-theme ngx-charts text,
body.dark-theme ngx-charts g text {
  fill: #fff !important; /* Cor branca para o texto */
}


