<mat-dialog-content>

    <app-artifacts-requirements-table></app-artifacts-requirements-table>

</mat-dialog-content>
<mat-dialog-actions align="end">

    <button mat-raised-button
            cdkFocusInitial
            (click)="close()">
        Fechar
        <mat-icon>close</mat-icon>
    </button>

    <button mat-raised-button
            [hidden]="isPermited()"
            (click)="addData(data)">
        Add artefato
        <mat-icon>edit_document</mat-icon>
    </button>

</mat-dialog-actions>

