.title-toolbar {
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  min-height: 100px; /* Aumentar a altura mínima */
  padding: 10px;
  background-color: white;
  word-break: break-word; /* Garante a quebra do título longo */
  text-align: center; /* Centraliza o título */
  display: flex;
  flex-wrap: wrap; /* Permite que o conteúdo quebre em várias linhas */
}

.title {
  font-size: 36px;
  white-space: normal; /* Permite a quebra de linha */
  text-align: center; /* Certifica-se de que o título fique centralizado */
  max-width: 100%; /* Limita a largura máxima do título */
  line-height: 1.2; /* Ajuste de altura da linha para melhor leitura */
}

.container {
  max-height: 800px; 
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.table-container {
  flex: 1;
  overflow-y: auto; /* Apenas o conteúdo da tabela irá rolar */
  max-height: 600px; /* Limite de altura da tabela */
}

.mat-dialog-actions {
  position: sticky;
  bottom: 0; /* Mantém o botão fixo no final */
  z-index: 1000;
  background-color: white; /* Adiciona fundo branco para garantir visibilidade */
  padding: 10px;
}

table {
  width: 100%;
}

th {
  text-align: center;
  width: 300px;
  font-weight: bold;
  font-size: 16px;
}

td {
  text-align: center;
}

.column-status {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-icon {
  margin-right: 8px; 
}

.status-text {
  display: inline-block;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  cursor: pointer;
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
  text-align: left;
}

.example-element-description-attribution {
  opacity: 0.5;
}

mat-paginator {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: transparent;
}

.filter-input {
  margin-top: 10px;
}