.container-form-create-project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .mat-select-for-project {
    opacity: 0.75;
    font-size: 0.75em;
  }

  .mat-forms-fro-project {
    padding: 20px;
    width: 250px;
  }

  .description-project-form {
    width: 830px;
  }
}
