<mat-dialog-content>

    <app-create-requirement-tab></app-create-requirement-tab>

</mat-dialog-content>
<mat-dialog-actions align="end">

    <button mat-raised-button
            *ngIf="!buttonDisabled"
            (click)="close()">
        Cancelar
        <mat-icon>cancel</mat-icon>
    </button>

    <button mat-raised-button
            cdkFocusInitial
            *ngIf="!buttonDisabled"
            (click)="saveData()">
        Criar requisito
        <mat-icon>save</mat-icon>
    </button>

</mat-dialog-actions>
