<div class="table-container">

  <mat-toolbar class="title-toolbar">
    <span class="title">Kanban Board - {{ currentProject }} </span>
  </mat-toolbar>

  <div class="kanban-board">
    <div class="kanban-column" *ngFor="let column of columns" 
      cdkDropList 
      [cdkDropListData]="column.requisitos"
      [cdkDropListConnectedTo]="connectedTo"
      [id]="column.id"
      (cdkDropListDropped)="drop($event, column)">
      <mat-card class="kanban-column-card">
        <mat-card-header>
          <mat-card-title>{{ column.name }}</mat-card-title>
          <mat-card-subtitle>Máx.: {{ column.maxItems }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <div class="kanban-list">
            <div class="kanban-card" *ngFor="let requisito of column.requisitos" cdkDrag>
              <mat-card>
                <mat-card-header>
                  <mat-card-title>{{ requisito.identifier }} - {{ requisito.name }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p><strong>Versão:</strong> {{ requisito.version }}</p>
                  <p><strong>Prioridade:</strong> {{ requisito.priority }}</p>
                  <p><strong>Esforço:</strong> {{ requisito.effort }}</p>

                  <ng-container *ngIf="users.length">
                    <label [hidden]="!requisito.developerAssigned" for="developerAssigned">Desenvolvedor:</label>
                    <select [disabled]="isPermitted(requisito.developerAssigned)" [hidden]="!requisito.developerAssigned" id="developerAssigned" [(ngModel)]="requisito.developerAssigned" (change)="assignDeveloper(requisito.id, requisito.developerAssigned)">
                      <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
                    </select>
                  </ng-container>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
