<div class="table-container">
  <mat-toolbar class="title-toolbar">
    <span class="title">Kanban Board - {{ currentProject }}</span>
  </mat-toolbar>

  <div class="kanban-board">
    <div
      class="kanban-column"
      *ngFor="let column of columns"
      cdkDropList
      [cdkDropListData]="column.requisitos"
      [cdkDropListConnectedTo]="connectedTo"
      [id]="column.id"
      (cdkDropListDropped)="drop($event, column)"
    >
      <mat-card class="kanban-column-card">
        <mat-card-header>
          <mat-card-title>{{ column.name }}</mat-card-title>
          <mat-card-subtitle>Máx.: {{ column.maxItems }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <div class="kanban-list">
            <div class="kanban-card" *ngFor="let requisito of column.requisitos" cdkDrag>
              <!-- A classe é aplicada dinamicamente com base no status -->
              <mat-card [ngClass]="getCardClass(requisito.status)">
                <mat-card-header>
                  <mat-card-title><strong>{{ requisito.identifier }}</strong> - {{ requisito.name }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p><strong>Prioridade:</strong> {{ requisito.priority }}</p>
                  <p><strong>Esforço:</strong> {{ requisito.effort }}</p>
                  <div [hidden]="!requisito.developerAssigned">
                    <ng-container *ngIf="users.length">
                      <mat-form-field appearance="fill">
                        <mat-label>Responsável</mat-label>
                        <mat-select
                          [(value)]="requisito.developerAssigned"
                          [disabled]="isPermitted(requisito.developerAssigned)"
                          (selectionChange)="assignDeveloper(requisito.id, requisito.developerAssigned)"
                        >
                          <mat-option *ngFor="let user of users" [value]="user.userId">{{ user.userName }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </ng-container>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
