<form [formGroup]="formGroup" novalidate>

    <div class="container-form-create-project">

         <mat-form-field class="mat-forms-fro-project">
            <mat-label>Nome do projeto</mat-label>
            <input matInput placeholder="Ex: Requirement Hub" formControlName="nameProject">
            <mat-error>Campo obrigatório!</mat-error>
        </mat-form-field>

        <mat-form-field class="mat-forms-fro-project">
            <mat-label>Gerente do projeto</mat-label>
            <mat-select formControlName="nameProjectManager">
                <mat-option *ngFor="let manager of toppingList" [value]="manager">
                    {{manager}}
                </mat-option>
            </mat-select>
            <mat-error>Campo obrigatório!</mat-error>
        </mat-form-field>

         <mat-form-field class="mat-forms-fro-project">
            <mat-label>Analista de requisitos</mat-label>
            <mat-select multiple formControlName="nameRequirementAnalyst">
                <mat-select-trigger>
                    {{ formGroup.get('nameRequirementAnalyst')?.value?.[0] || '' }}
                    <span *ngIf="(formGroup.get('nameRequirementAnalyst')?.value?.length || 0) > 1"
                          class="mat-select-for-project">
                (+{{ (formGroup.get('nameRequirementAnalyst')?.value?.length || 0) - 1 }}
                        {{ formGroup.get('nameRequirementAnalyst')?.value?.length === 2 ? 'other' : 'others' }})
            </span>
                </mat-select-trigger>
                <mat-option *ngFor="let manager of toppingList" [value]="manager">{{ manager }}</mat-option>
            </mat-select>
            <mat-error>Campo obrigatório!</mat-error>
        </mat-form-field>

         <mat-form-field class="mat-forms-fro-project">
            <mat-label>Analista de negócios</mat-label>
            <mat-select multiple formControlName="nameBusinessAnalyst">
                <mat-select-trigger>
                    {{ formGroup.get('nameBusinessAnalyst')?.value?.[0] || '' }}
                    <span *ngIf="(formGroup.get('nameBusinessAnalyst')?.value?.length || 0) > 1"
                          class="mat-select-for-project">
                (+{{ (formGroup.get('nameBusinessAnalyst')?.value?.length || 0) - 1 }}
                        {{ formGroup.get('nameBusinessAnalyst')?.value?.length === 2 ? 'other' : 'others' }})
            </span>
                </mat-select-trigger>
                <mat-option *ngFor="let manager of toppingList" [value]="manager">{{ manager }}</mat-option>
            </mat-select>
        </mat-form-field>

         <mat-form-field class="mat-forms-fro-project">
            <mat-label>Usuário comum</mat-label>
            <mat-select multiple formControlName="nameCommonUser">
                <mat-select-trigger>
                    {{ formGroup.get('nameCommonUser')?.value?.[0] || '' }}
                    <span *ngIf="(formGroup.get('nameCommonUser')?.value?.length || 0) > 1"
                          class="mat-select-for-project">
                (+{{ (formGroup.get('nameCommonUser')?.value?.length || 0) - 1 }}
                        {{ formGroup.get('nameCommonUser')?.value?.length === 2 ? 'other' : 'others' }})
            </span>
                </mat-select-trigger>
                <mat-option *ngFor="let manager of toppingList" [value]="manager">{{ manager }}</mat-option>
            </mat-select>
            <mat-error>Campo obrigatório!</mat-error>
        </mat-form-field>

        <mat-form-field class="mat-forms-fro-project">
            <mat-label>Versão</mat-label>
            <input matInput placeholder="Ex: 1.0.0" formControlName="version">
            <mat-error>Campo obrigatório!</mat-error>
        </mat-form-field>

        <app-richTextEditor formControlName="projectDescription"></app-richTextEditor>


    </div>
</form>
