<mat-dialog-content>

    <app-create-requirement-tab></app-create-requirement-tab>

</mat-dialog-content>
<mat-dialog-actions align="end">

    <button mat-button
            *ngIf="!buttonDisabled"
            (click)="getData()">
        Salvar rascunho
        <mat-icon>edit_document</mat-icon>
    </button>

    <button mat-button
            *ngIf="!buttonDisabled"
            cdkFocusInitial
            (click)="saveData()">
        Criar requisito
        <mat-icon>add</mat-icon>
    </button>

</mat-dialog-actions>
